.main {
  
  padding: 12px;
  background-color: #1d4ed8;
  margin-bottom: 40px;

  .container {
    max-width: 1240px;
    padding: 0px 20px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;


      .logo {
            img {
          max-height: 50px;
        }
      }
      .nav {
        .list {
          list-style: none;
          padding: 0;
          margin: 0;
          display: flex;
          align-items: center;
    
          .link {
            &:first-of-type {
              margin-right: 8px;
    
              a {
                color: #fff;
                text-decoration: none;
                padding: 8px 12px;
                border-radius: 4px;
              }
            }
          }
        }
      }
  }

}
